# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.d
*.dia
*.dat
dgph
dgph~
*.xcindex*
*.LinkFileList
bin/Mac/obj/*
bin/Mac/Release/Graphoffline.dSYM/*
bin/Mac/Release/Graphoffline
bin/Mac/Debug/Graphoffline
*.hmap
._*
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
UserInterfaceState.xcuserstate

# Executables
*.exe
*.out
*.app

*.xcuserstate

*.xcbkptlist



*.xcscheme

bin/Linux/Release/GraphOffline
/.vs/
/bin/Windows/obj/
/_UpgradeReport_Files/
/bin/Windows/Release/GraphOffline.iobj
/bin/Windows/Release/GraphOffline.ipdb
/bin/Windows/Release/GraphOffline.pdb
*.vcxproj.user
*.sdf
/bin/Windows/Debug/GraphOffline.ilk
/bin/Windows/Debug/GraphOffline.pdb
